---
# Main Sass file
---
@charset "utf-8";

@import "vendors/extensions";
@import "vendors/bootstrap";
@import "vendors/syntax-highlighting";

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 12px;
}

.site-header,
.site-content,
.site-footer {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding-left:  15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    padding-left:  150px;
    padding-right: 150px;
  }
}

.site-header {
  padding-top:    15px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-top:    50px;
    padding-bottom: 50px;
  }

  a {
    color: $gray-dark;

    @include hover-focus {
      color: #000;
    }
  }

  .site-description {
    margin: 0;
  }
}

.site-content {
  padding-bottom: 50px;

  h2 {
    font-size: 1.25rem;

    &:not(:first-child) {
      margin-top: 2.5rem;
    }
  }

  p,
  ul,
  ol {
    line-height: 1.75;
    margin: 0;
  }
}

.list-portfolio {
  li + li {
    margin-top: 1rem;
  }

  img {
    display: block;
    margin-top: 5px;
    max-width: 360px;
    width: 100%;
  }
}

.portfolio-thumbnails img {
  float: left;
  margin-right: 5px;
}

.column-2 img { width: calc(50% - 5px) }
.column-3 img { width: calc(33% - 5px) }
