---
# Main Sass file
---
@charset "utf-8";

@import "vendors/extensions";
@import "vendors/bootstrap";
@import "vendors/syntax-highlighting";

.container {
  max-width: 540px;
}

.site-header {
  margin-top:    30px;
  margin-bottom: 30px;
}

.site-content {
  h2 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
  }
}
